@{
    ViewData["Title"] = "Delet client";
}

<div class="text-center">
    <h1>Realmente deseja apagar este contato?</h1>
    <button type="submit" class="btn btn-danger">Apagar</button>
    <a role="button" class="btn btn-secondary" asp-controller="Client" asp-action="Index">Voltar</a>
</div>


