@{
    ViewData["Title"] = "Client Page";
}
<h1 class="display-4">Página de controle de hóspedes</h1>
<a id="AddButton" role="button" asp-controller="Client" asp-action="Make">Novo Hóspede</a>
<div class="text-center" id="heroConteiner">
   
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Nome</th>
                <th scope="col">Quarto</th>
                <th scope="col">Check-in</th>
                <th scope="col">Check-out</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Pedro Henrique</td>
                <td>502 B</td>
                <td>29/02/2024</td>
                <td>07/03/2024</td>
                <td class="btn-group" role="group" aria-label="Basic example">
                    <a type="button" class="btn btn-primary" asp-controller="Client" asp-action="Edit">Editar</a>
                    <a type="button" class="btn btn-primary" asp-controller="Client" asp-action="Delet">Apagar</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>


