@model ClientModel
@{
    ViewData["Title"] = "Client Page";
}

<div class="text-center">
    <h1>Adicionar novo hóspede</h1>
    <form id="makeConteiner" asp-controller="Client" asp-action="Make" method="post">
        <div class="form-group">
            <label for="Name">Nome</label>
            <input asp-for="Name" type="text" class="form-control"  placeholder="Digite o nome do cliente">
        </div>
        <div class="form-group">
            <label for="Apartment">Apartamento</label>
            <input asp-for="Room" type="text" class="form-control"  placeholder="Digite o quarto do cliente">
        </div>
        <div class="form-group">
            <label for="Checkout">Checkout</label>
            <input asp-for="CheckOut" type="date" class="form-control" placeholder="Digite a data de saída do cliente">
        </div>
        <div class="form-group">
            <label for="Phone">Telefone</label>
            <input asp-for="Phone" type="tel" onkeyup="handlePhone(event)" class="form-control" placeholder="Digite o telefone do cliente">
        </div>
        <div class="form-group">
            <label for="Email">Email</label>
            <input asp-for="Email" type="mail" class="form-control" placeholder="Digite o nome do cliente">
        </div>

        <button type="submit" class="btn btn-primary">Criar</button>
        <a role="button" class="btn btn-primary" asp-controller="Client" asp-action="Index">Voltar</a>
    </form>
</div>

